@font-face {
  font-family: "shining";
  src: url("../assets/fonts/shining.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page {
  width: 100vw;
  min-height: 100vh;
  overflow-y: hidden;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto;*/
}

.title__super {
  font-size: 40%;
  top: -1.5rem;
}
.title {
  width: 90vw;
  margin-top: 3rem;
  font-family: shining, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3rem;
  color: black;
  text-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.container__slider {
  /*margin-top: 6rem;*/
  width: 90vw;
  height: auto;
  max-width: 900px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.slider {
  width: 700%;
  max-height: 670px;
  display: flex;
}

.slider__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  background: rgba(255, 255, 255, 0.445);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}

.slider__btn:hover {
  background: white;
}

.slider__btn--right {
  right: 5px;
}
.slider__btn--left {
  left: 5px;
}

.slides__button {
  display: none;
}

.slides__section {
  width: 12, 5%;
  height: auto;
  transition: 1.4s;
}

.slide__img {
  display: block;
  width: 100%;
  max-height: 670px;
}

.navigation__manual {
  width: 90vw;
  padding: 10px;
  transform: scale(1.2);
  display: flex;
  justify-content: center;
}

.manual--btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual--btn:not(last-child) {
  margin-right: 10px;
}

.manual--btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -12.5%;
}
#radio3:checked ~ .first {
  margin-left: -25%;
}
#radio4:checked ~ .first {
  margin-left: -37.5%;
}
#radio5:checked ~ .first {
  margin-left: -62.5%;
}
#radio6:checked ~ .first {
  margin-left: -75%;
}
#radio7:checked ~ .first {
  margin-left: -87.5%;
}
