@font-face {
  font-family: "shining";
  src: url("../assets/fonts/shining.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.title__super {
  font-size: 40%;
  top: -1.5rem;
}
.title {
  width: 90%;
  margin-top: 3rem;
  font-family: shining, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3rem;
  color: black;
  text-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.container {
  margin: 0 auto;
  width: 90%;
  height: auto;
  max-width: 1191px;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 700%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1.4s ease;
  transform: translateX(0%);
}

.slides__image {
  width: calc(100% / 7);
  border-radius: 10px;
  max-width: 1191px;
}

.buttons {
  width: 100%;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.button {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0.4em;
  cursor: pointer;
  transition: 0.8s;
}

.button:hover {
  background-color: white;
}

.active {
  background-color: white;
  background: linear-gradient(145deg, #cacccf, #ffffff);
  box-shadow: rgb(217, 218, 222) 9.91px 9.91px 35px,
    rgb(255, 255, 255) -9.91px -9.91px 35px;
}

.navigation {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.navigation:hover {
  background-color: white;
  background: linear-gradient(145deg, #cacccf, #ffffff);
  box-shadow: rgb(217, 218, 222) 2px 2px 80px, rgb(255, 255, 255) -2px -2px 80px;
}

.navigation--right {
  right: 5px;
}
.navigation--left {
  left: 5px;
}

/* FOOTER*/
.footer {
  width: 100vw;
  height: 40px;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  padding-right: 20px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  color: rgba(255, 255, 255, 0.836);
  font-weight: lighter;

  background-color: rgba(0, 0, 0, 0.397);

  z-index: 2000;
}

.author {
  padding-right: 0.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.fas,
.fab {
  padding-top: 0;
  padding: 0.3rem;
}

.link,
.link:visited {
  color: rgba(255, 255, 255, 0.836);
}

.link:hover {
  transform: scale(1.6);
  transition: all 0.3s ease 0.1s;
}
